<style>
    .button {
    visibility: hidden;
    }
    </style>
        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/public/uploads/<%= slider[2].image%>">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>Checkout Page</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- checkout-area -->
            <section class="checkout-area pt-95 pb-95">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-8">
                            <aside class="checkout-sidebar">
                                <h6 class="title">Mahsulotga buyurtma berish</h6>
                                <div class="shop-cart-widget">
                                    <form action="/api/order/create" method="POST">
                                        <ul>
                                            <%for(item of product) {%>
                                            <li class="sub-total"><span>Mahsulot</span><%= item.productID.typeID.name.uz%> <%= item.productID.name.uz%> <%= item.productID.categoryID.name.uz%></li>
                                            <% }%>
                                            <li>
                                                <span>Mahsulotlar Soni</span>
                                                <div class="cart-plus-minus">
                                                        <input type="number" name="total_num" class="in-num" value="1">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="col-6">
                                                    <div class="form-grp">
                                                        <label>Rangni tanlang <span>*</span></label>
                                                        <select name="color" class="custom-select">
                                                            <option value="Qizil">Qizil</option>
                                                            <option value="Qora">Qora</option>
                                                            <option value="Oq">Oq</option>
                                                            <option value="Yashil">Yashil</option>
                                                            <option value="Sariq">Sariq</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> 
                                            <span>Telefon Nomer</span>
                                            <div class="col-sm-2">
                                                <div class="form-grp">
                                                    <input type="text" name="phone" id="lName" value="">
                                                </div>
                                            </div>
                                            </li>
                                            <li>
                                                <div class="button">
                                                <input type="text" name="user" value="<%= user._id%>">
                                                <input type="text" name="uuid" value="<%= user.uuid%>">
                                                <% let id = []%>
                                                <%for(let i=0; i<product.length; i++) {%>
                                                    <% id.push(product[i].productID._id)%>
                                                    <% }%>
                                                <input type="text" name="product" value="<%= id%>">
                                                </div>
                                            </li>
                                            <li> 
                                                <span>Address :</span>
                                                <div class="col-sm-20">
                                                    <div class="form-grp">
                                                        <input type="text" id="lName" name="address" value="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="cart-total-amount"><span>Mahsulot Narxi</span> <span class="amount"><%=product.price%> So'm</span></li>
                                        </ul>
                                        <div class="payment-terms">
                                            <p>Mahsulotimizni Sotib Olganingizdan so'ng 3kun ichida yetkazib beramiz</p>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">I have read and agree to the website terms and conditions</label>
                                            </div>
                                        </div>
                                        <button class="btn">Buyurtma berish</button>
                                    </form>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- checkout-area-end -->

        </main>
        <!-- main-area-end -->
