

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/public/uploads/<%= slider[0].image%>">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>Cart Page</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- cart-area -->
            <div class="cart-area pt-100 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart-wrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="product-thumbnail"></th>
                                                <th class="product-name">Mahsulot</th>
                                                <th class="product-price">Narxi</th>
                                                <th class="product-subtotal">Chegirma</th>
                                                <th class="product-delete" style="width: 22%;">Parametr</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for(item of basket) {%>
                                            <tr>
                                                <td class="product-thumbnail"><a href="/product/<%= item.productID._id%>"><img src="<%= item.productID.images[0].url%>" alt=""></a></td>
                                                <td class="product-name">
                                                    <h4><a href="/product/<%= item.productID._id%>"><%= item.productID.name.uz%></a></h4>
                                                </td>
                                                <td class="product-price"><%= item.productID.price%> So'm</td>
                                                <td class="product-subtotal"><span><%= item.productID.chegirma%> So'm</span></td>   <td style="
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-around;
                                                align-items: center;
                                              ">
                                                
                                                  <button type="submit" class="btn btn-danger">
                                                    <a href="/api/order/<%= item._id%>"><i class="flaticon-shopping-bag"></i></a>
                                                  </button>
                                                <form method="POST" class="hidden-r" action="<%=`/api/basket/${item._id}?_method=DELETE`%>">
                                                  <button type="submit" class="btn btn-danger">
                                                    <a href="#"><i class="flaticon-trash"></i></a>
                                                  </button>
                                                </form>
                                              </td>  
                                            </tr>
                                            <% }%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="cart-total pt-95">
                                <h3 class="title">CART TOTALS</h3>
                                <div class="shop-cart-widget">
                                    <form action="#">
                                        <ul>
                                            <li class="sub-total"><span>UMUMIY SUMMA</span> 
                                                <% let sum = 0%>
                                            <%for(let i=0; i<basket.length; i++){%>
                                              <%  sum+=basket[i].productID.price %>
                                              <% sum%>
                                            <%}%>
                                            <%= sum%> So'm
                                        </li>
                                            <li class="cart-total-amount"><span>MAHSULOTLAR SONI</span> <span class="amount"><%= basket.length%> ta</span></li>
                                        </ul>
                                        <a href="/api/order" class="btn">PROCEED TO CHECKOUT</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart-area-end -->

        </main>
        <!-- main-area-end -->
<script>
    function summa(result){
        let sum = 0
    for(let i=0; i.result.length; i++){
        sum+=result[i].producID.price
        return sum
    }
}
</script>
