 <!-- main-area -->
 <main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" data-background="/public/uploads/<%= slider[1].image%>">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Our Shop</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a >Collection</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= collection.name.uz%></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- shop-area -->
    <section class="shop-area pt-95 pb-100">
        <div class="container">
            <div class="shop-top-meta mb-35">
                <div class="row">
                    <div class="col-md-6">
                        <div class="shop-top-left">
                            <ul>
                                <li><a href="#"><i class="flaticon-menu"></i> FILTER</a></li>
                                <li>Showing 1–9 of 80 results</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="shop-top-right">
                            <form action="#">
                                <select name="select">
                                    <option value="">Sort by newness</option>
                                    <option>Free Shipping</option>
                                    <option>Best Match</option>
                                    <option>Newest Item</option>
                                    <option>Size A - Z</option>
                                </select>
                            </form>
                            <div class="shop-search"><a href="#"><i class="flaticon-search"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <%for(item of collection.productID) {%>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="new-arrival-item text-center mb-50">
                        <div class="thumb mb-25">
                            <a href="/product/<%= item._id%>"><img src="<%= item.images[0].url%>" alt=""></a>
                            <div class="product-overlay-action">
                                <ul>
                                    <li><a href="/product/<%= item._id%>"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h5><a href="/product/<%= item._id%>"><%= item.name.uz%></a></h5>
                            <span class="price"><%= item.price%></span>
                        </div>
                    </div>
                </div>
                <% }%>
            </div>
        </div>
    </section>
    <!-- shop-area-end -->

</main>
<!-- main-area-end -->